.train-board {
  background-color: transparent;
  font-family: "Arial", sans-serif;
}

.train-entry,
.train-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.train-entry {
  background: #333;
}

.radio-buttons {
  margin-bottom: 10px;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: #555;
}
