body,
html {
  background-color: transparent;
  user-select: none;
}

.HomeScreenMainDiv {
  background: linear-gradient(
    45deg,
    var(--background-color2),
    var(--background-color)
  );
}

.HomeScreenTopBar {
  box-shadow: 3px 6px 10px #ffffff81;
}

.HomeScreenMainTimeText {
  font-size: 25px;
  font-family: "Courier New";
  color: var(--text-color);
}
